### 1.파이썬 스크립트를 통해 MySQL 데이터베이스에 접속하여 테이블을 조회하는 

* import ⇢ db접속 ⇢ cursor 생성* ⇢ sql문 작성 ⇢ sql문 실행 ⇢ 실행 결과 확정(commit) ⇢ 연결 해제
* 검색해온 데이터를 key:value 타입으로 가지고 오는 pymysul.cursor.Dictionary
* insert, update, delete의 경우 자원 닫아주기 전에 commit을 해야 DB에 작업 내용이 저장
```
CURSOR = PseudonymDB.cursor()
SQL = """SELECT * FROM DATABASE.TABLE"""
CURSOR.execute(SQL)
PseudonymDB.commit()
PseudonymDB.close()
```

In [15]:
# pip install pymysql
import pymysql
from typing import *

In [18]:
class PreprocessQuery:
    """데이터 전처리 목적의 SQL 쿼리 클래스"""
    def __init__(self, pw):
        self._pw = pw
        self.Cursor = None
        self.SQL = None
    
    def connectMySQL(self, 
                     serverIP: str, port_num: int, user_name: str, database_name: str, kr_encoder: str):
        """MySQL DBMS 데이터베이스에 접속: 서버IP주소, 사용자명, 계정 암호, 데이터베이스명, 한글 인코딩 방식"""
        DBconnection = pymysql.connect(
            host = serverIP, port = port_num,
            user = user_name, password = self._pw,
            db = database_name, charset = kr_encoder
        )
        self.Cursor = self.makeCursor(DBconnection)
    
    def makeCursor(self, connect):
        """커서 생성"""
        Cursor = connect.cursor()
        return Cursor
    
    def dataQueryLanguage(self, sql):
        self.SQL = f"""{sql}"""
    
    def queryExecute(self):
        self.Cursor.execute(self.SQL)
        actionOutput = self.Cursor.fetchall()
        return actionOutput
    
    def queryCommit(self):
        self.Cursor.execute(self.SQL)
        self.Cursor.commit()
        self.Cursor.close()

In [21]:
queryObject = PreprocessQuery(pw = "0123")

In [23]:
queryObject.connectMySQL( 
    serverIP = "localhost", port_num = 3306, user_name = "root", database_name = "FINANCIALCONSUMER", kr_encoder = "utf8")

In [24]:
queryObject.dataQueryLanguage(sql = "DESC DATA_FINANCE;")

In [25]:
queryObject.queryExecute()

(('NUM_SERIAL', 'int', 'NO', 'PRI', None, ''),
 ('NAME', 'varchar(10)', 'NO', '', None, ''),
 ('GENDER', 'varchar(10)', 'YES', '', None, ''),
 ('AGE', 'int', 'YES', '', None, ''),
 ('PHONE_NUMBER', 'varchar(20)', 'YES', '', None, ''),
 ('ZIP_CODE', 'int', 'YES', '', None, ''),
 ('HOME_ADDRESS', 'varchar(100)', 'YES', '', None, ''),
 ('HOME_TYPE', 'varchar(10)', 'YES', '', None, ''),
 ('INCOME_BRACKET', 'int', 'YES', '', None, ''),
 ('CREDIT_SCORE', 'int', 'YES', '', None, ''),
 ('REPAYMENT_RISK_INDEX', 'int', 'YES', '', None, ''),
 ('AMT_CREDITCARD_PAYMENT', 'int', 'YES', '', None, ''),
 ('AMT_CASHADVANCE_PAYMENT', 'int', 'YES', '', None, ''),
 ('NUM_CREDITCARD_ISSUANCES', 'int', 'YES', '', None, ''),
 ('NUM_CREDITCARD_CANCELED', 'int', 'YES', '', None, ''),
 ('TF_LOAN', 'varchar(10)', 'YES', '', None, ''),
 ('AMT_CREDITLOAN', 'int', 'YES', '', None, ''),
 ('AMT_CREDITLOAN_OUTSTANDING', 'int', 'YES', '', None, ''),
 ('TF_PENSION', 'varchar(10)', 'YES', '', None, ''),
 ('AMT_PENSION', 'int', 'YES', '', None, ''))