### 1.파이썬 스크립트를 통해 MySQL 데이터베이스에 접속하여 테이블을 조회하는 방식

* import ⇢ db접속 ⇢ cursor 생성* ⇢ sql문 작성 ⇢ sql문 실행 ⇢ 실행 결과 확정(commit) ⇢ 연결 해제
* 검색해온 데이터를 key:value 타입으로 가지고 오는 pymysul.cursor.Dictionary
* insert, update, delete의 경우 자원 닫아주기 전에 commit을 해야 DB에 작업 내용이 저장
```
CURSOR = PseudonymDB.cursor()
SQL = """SELECT * FROM DATABASE.TABLE"""
CURSOR.execute(SQL)
PseudonymDB.commit()
PseudonymDB.close()
```

In [1]:
# pip install pymysql
import pymysql
from typing import *

In [2]:
class PreprocessQuery:
    """데이터 전처리 목적의 SQL 쿼리 클래스"""
    def __init__(self, pw):
        self._pw = pw
        self.Cursor = None
        self.SQL = None
    
    def connectMySQL(self, 
                     serverIP: str, port_num: int, user_name: str, database_name: str, kr_encoder: str):
        """MySQL DBMS 데이터베이스에 접속: 서버IP주소, 사용자명, 계정 암호, 데이터베이스명, 한글 인코딩 방식"""
        DBconnection = pymysql.connect(
            host = serverIP, port = port_num,
            user = user_name, password = self._pw,
            db = database_name, charset = kr_encoder
        )
        self.Cursor = self.makeCursor(DBconnection)
    
    def makeCursor(self, connect):
        """커서 생성"""
        Cursor = connect.cursor()
        return Cursor
    
    def dataQueryLanguage(self, sql):
        self.SQL = f"""{sql}"""
    
    def queryExecute(self):
        self.Cursor.execute(self.SQL)
        actionOutput = self.Cursor.fetchall()
        return actionOutput
    
    def queryCommit(self):
        self.Cursor.execute(self.SQL)
        self.Cursor.commit()
        self.Cursor.close()

In [3]:
queryObject = PreprocessQuery(pw = "0123")

In [4]:
queryObject.connectMySQL( 
    serverIP = "localhost", port_num = 3306, user_name = "root", database_name = "FINANCIALCONSUMER", kr_encoder = "utf8")

---

In [47]:
queryObject.dataQueryLanguage(sql = "DESC DATA_FINANCE;")
queryObject.queryExecute()

(('NUM_SERIAL', 'int', 'NO', 'PRI', None, ''),
 ('NAME', 'varchar(10)', 'NO', '', None, ''),
 ('GENDER', 'varchar(10)', 'YES', '', None, ''),
 ('AGE', 'int', 'YES', '', None, ''),
 ('PHONE_NUMBER', 'varchar(20)', 'YES', '', None, ''),
 ('ZIP_CODE', 'int', 'YES', '', None, ''),
 ('HOME_ADDRESS', 'varchar(100)', 'YES', '', None, ''),
 ('HOME_TYPE', 'varchar(10)', 'YES', '', None, ''),
 ('INCOME_BRACKET', 'int', 'YES', '', None, ''),
 ('CREDIT_SCORE', 'int', 'YES', '', None, ''),
 ('REPAYMENT_RISK_INDEX', 'int', 'YES', '', None, ''),
 ('AMT_CREDITCARD_PAYMENT', 'int', 'YES', '', None, ''),
 ('AMT_CASHADVANCE_PAYMENT', 'int', 'YES', '', None, ''),
 ('NUM_CREDITCARD_ISSUANCES', 'int', 'YES', '', None, ''),
 ('NUM_CREDITCARD_CANCELED', 'int', 'YES', '', None, ''),
 ('TF_LOAN', 'varchar(10)', 'YES', '', None, ''),
 ('AMT_CREDITLOAN', 'int', 'YES', '', None, ''),
 ('AMT_CREDITLOAN_OUTSTANDING', 'int', 'YES', '', None, ''),
 ('TF_PENSION', 'varchar(10)', 'YES', '', None, ''),
 ('AMT_PENSION', 'int', 'YES', '', None, ''))

In [46]:
queryObject.dataQueryLanguage(sql = "DESC DATA_RETAIL;")
queryObject.queryExecute()

(('NUM_SERIAL', 'int', 'NO', 'PRI', None, ''),
 ('NAME', 'varchar(10)', 'NO', '', None, ''),
 ('GENDER', 'varchar(10)', 'YES', '', None, ''),
 ('AGE', 'int', 'YES', '', None, ''),
 ('JOIN_DATE', 'date', 'YES', '', None, ''),
 ('PHONE_NUMBER', 'varchar(20)', 'YES', '', None, ''),
 ('ZIP_CODE', 'int', 'YES', '', None, ''),
 ('SHIPPING_ADDRESS', 'varchar(100)', 'YES', '', None, ''),
 ('NUM_PURCHASES_BOOKS', 'int', 'YES', '', None, ''),
 ('AMT_PURCHASES_BOOKS', 'int', 'YES', '', None, ''),
 ('NUM_PURCHASES_CULTURE', 'int', 'YES', '', None, ''),
 ('AMT_PURCHASES_CULTURE', 'int', 'YES', '', None, ''),
 ('NUM_PURCHASES_EDU', 'int', 'YES', '', None, ''),
 ('AMT_PURCHASES_EDU', 'int', 'YES', '', None, ''),
 ('AMT_USAGE_MEMBERSHIP', 'int', 'YES', '', None, ''),
 ('AMT_USAGE_GIFTCERTIFICATE', 'int', 'YES', '', None, ''))

In [48]:
queryObject.dataQueryLanguage(sql = "DESC DATA_MOBILE_COMMUNICATION;")
queryObject.queryExecute()

(('NUM_SERIAL', 'int', 'NO', 'PRI', None, ''),
 ('AGE', 'int', 'YES', '', None, ''),
 ('NAME', 'varchar(10)', 'NO', '', None, ''),
 ('GENDER', 'varchar(10)', 'YES', '', None, ''),
 ('ZIP_CODE', 'int', 'YES', '', None, ''),
 ('DETAIL_ADDRESS', 'varchar(100)', 'YES', '', None, ''),
 ('INDUSTRY_TYPE', 'varchar(20)', 'YES', '', None, ''),
 ('SUBSCRIPTION_SERVICE', 'varchar(100)', 'YES', '', None, ''),
 ('SUBSCRIPTION_FEE', 'int', 'YES', '', None, ''),
 ('SUBSCRIPTION_DATE', 'date', 'YES', '', None, ''),
 ('MEMBER_TYPE', 'varchar(20)', 'YES', '', None, ''),
 ('TF_BLACKLIST', 'varchar(10)', 'YES', '', None, ''),
 ('NUM_OVERDUE_PAYMENT', 'int', 'YES', '', None, ''),
 ('MEMBERSHIP_GRADE', 'varchar(20)', 'YES', '', None, ''),
 ('TF_CONTENTS_PAYMENT', 'varchar(10)', 'YES', '', None, ''),
 ('AMT_CONTENTS_PAYMENT', 'int', 'YES', '', None, ''),
 ('EXTRA_SERVICE', 'varchar(100)', 'YES', '', None, ''))

### 2.DQL문

* **데이터 정제의 의의**
    
    원본 데이터에 결측값이나 일관적이지 않은 데이터가 있는 경우 등에 낮은 데이터 품질을 개선하거나 분석을 더 쉽게 수행하고 더 의미 있는 결과를 이끌어내는데 필요

* **결측값 탐색**
    
    ```DQL = "SELECT {} FROM DATA_FINANCE WHERE {} IS NULL".format("GENDER", "GENDER")```
    
    ```DQL = "SELECT {} FROM DATA_MOBILE_COMMUNICATION WHERE {} IS NULL".format("SUBSCRIPTION_FEE", "SUBSCRIPTION_FEE")```

* **Fill Forward or Fill Backward**

    ```DQL = "SELECT LAG(SUBSCRIPTION_FEE) OVER (PARTITION BY SUBSCRIPTION_SERVICE ORDER BY SUBSCRIPTION_DATE) AS SUBSCRIPTION_FEE_IMPUTE FROM DATA_MOBILE_COMMUNICATION"```

* **Postgres Database에서 생성하는 날짜 차원 테이블**
    
    ```DQL = "SELECT * FROM GENERATE_SERIES('2023-01-01'::timestamp, '2023-12-31', '1 day')"```
    
    ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '('2023-01-01'::timestamp, '2023-12-31', '1 day')' at line 1")

* **데이터 셰이핑(데이터가 열과 행에 저장되는 형태를 조정하는 작업)**

    데이터 세밀도를 파악하고 데이터 평탄화를 수행함(행의 수 줄이기)
    
    보고서 작성과 대시보드 생성을 위해 데이터를 BI 도구에 가져올 때, 그 데이터가 어떻게 사용될지 미리 이해하는 일이 중요함. 데이터 크기가 작으면서도 이해하기 쉽게끔 집계되어 있어야 하며, 대시보드를 실행하는데 시간이 오래 걸리지 않도록 핵심적인 내용만 저장된 형태로 데이터를 빠르게 로드할 수 있어야 함.

### 3.시계열 분석

예측을 위해 시간에 따른 데이터의 변화를 이해하고 정량화함.

In [61]:
DQL = """SELECT """

"SELECT * FROM GENERATE_SERIES('2023-01-01'::timestamp, '2023-12-31', '1 day')"

In [ ]:
# DQL = input("SQL 쿼리문 입력변수 = ")
queryObject.dataQueryLanguage(sql = DQL)
queryObject.queryExecute()